<mat-tab-group>
  <mat-tab label="New Request">
    <table mat-table [dataSource]="newRequestDataSource">
      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef>First Name</th>
        <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
      </ng-container>
      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef>Last Name</th>
        <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
      </ng-container>
      <ng-container matColumnDef="userType">
        <th mat-header-cell *matHeaderCellDef> Student / Professor</th>
        <td mat-cell *matCellDef="let element"> {{element.userType == 'P' ? 'Professor' : 'Student'}} </td>
      </ng-container>
      <ng-container matColumnDef="userId">
        <th mat-header-cell *matHeaderCellDef> Approve </th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button color="primary" (click)="doApprove(element.userId)">Approve</button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="newRequestDisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: newRequestDisplayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </mat-tab>







  <mat-tab label="Assigning Students & Professor">
    <table mat-table [dataSource]="assignmentDataSource">
      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef>First Name</th>
        <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
      </ng-container>
      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef>Last Name</th>
        <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
      </ng-container>
      <ng-container matColumnDef="subjects">
        <th mat-header-cell *matHeaderCellDef> Subject </th>
        <td mat-cell *matCellDef="let element">
          <mat-form-field>
            <mat-select placeholder="Select Subject 1" [(ngModel)]="element.subjects[0]">
              <mat-option *ngFor="let sub of subjects" [value]="sub.courseId"> {{sub.courseName}} </mat-option>
            </mat-select>
          </mat-form-field>
          <br />
          <mat-form-field>
            <mat-select placeholder="Select Subject 2" [(ngModel)]="element.subjects[1]">
              <mat-option *ngFor="let sub of subjects" [value]="sub.courseId"> {{sub.courseName}} </mat-option>
            </mat-select>
          </mat-form-field>
          <br />
          <mat-form-field>
            <mat-select placeholder="Select Subject 3" [(ngModel)]="element.subjects[2]">
              <mat-option *ngFor="let sub of subjects" [value]="sub.courseId"> {{sub.courseName}} </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </ng-container>
      <ng-container matColumnDef="professors">
        <th mat-header-cell *matHeaderCellDef> Professor </th>
        <td mat-cell *matCellDef="let element">
          <mat-form-field>
            <mat-select placeholder="Professor 1" [(ngModel)]="element.professors[0]">
              <mat-option *ngFor="let prof of professors" [value]="prof.userId">
                {{prof.firstName +' '+prof.lastName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <br />
          <mat-form-field>
            <mat-select placeholder="Professor 2" [(ngModel)]="element.professors[1]">
              <mat-option *ngFor="let prof of professors" [value]="prof.userId">
                {{prof.firstName +' '+prof.lastName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <br />
          <mat-form-field>
            <mat-select placeholder="Professor 3" [(ngModel)]="element.professors[2]">
              <mat-option *ngFor="let prof of professors" [value]="prof.userId">
                {{prof.firstName +' '+prof.lastName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </ng-container>
      <ng-container matColumnDef="assign">
        <th mat-header-cell *matHeaderCellDef> Assign </th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button color="primary" [disabled]="!(element.subjects[0] && element.subjects[1] && element.subjects[2] 
            && element.professors[0] && element.professors[1] && element.professors[2])"
            (click)="doAssign(element)">Assign</button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="assignDisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: assignDisplayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </mat-tab>



  <mat-tab label="Students">
    <table mat-table [dataSource]="studentDataSource">
      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef>First Name</th>
        <td mat-cell *matCellDef="let element">{{element.firstName}} </td>
      </ng-container>
      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef>Last Name</th>
        <td mat-cell *matCellDef="let element">{{element.lastName}} </td>
      </ng-container>
      <ng-container matColumnDef="dateOfBirth">
        <th mat-header-cell *matHeaderCellDef>Date of Birth</th>
        <td mat-cell *matCellDef="let element">{{element.dateOfBirth}} </td>
      </ng-container>
      <ng-container matColumnDef="ssn">
        <th mat-header-cell *matHeaderCellDef>SSN</th>
        <td mat-cell *matCellDef="let element">{{element.ssn}} </td>
      </ng-container>
      <ng-container matColumnDef="createdTime">
        <th mat-header-cell *matHeaderCellDef>Created On</th>
        <td mat-cell *matCellDef="let element">{{element.createdTime | date:'fullDate' }} </td>
      </ng-container>
      <ng-container matColumnDef="userId">
        <th mat-header-cell *matHeaderCellDef>Delete </th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button color="primary" (click)="doDelete(element.userId)">Delete</button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="studentDisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: studentDisplayedColumns;" (click)="studentRowClicked(row);"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

  </mat-tab>



  <mat-tab label="Professors">
    <table mat-table [dataSource]="professorDataSource">
      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef>First Name</th>
        <td mat-cell *matCellDef="let element">{{element.firstName}} </td>
      </ng-container>
      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef>Last Name</th>
        <td mat-cell *matCellDef="let element">{{element.lastName}} </td>
      </ng-container>
      <ng-container matColumnDef="dateOfBirth">
        <th mat-header-cell *matHeaderCellDef>Date of Birth</th>
        <td mat-cell *matCellDef="let element">{{element.dateOfBirth}} </td>
      </ng-container>
      <ng-container matColumnDef="ssn">
        <th mat-header-cell *matHeaderCellDef>SSN</th>
        <td mat-cell *matCellDef="let element">{{element.ssn}} </td>
      </ng-container>
      <ng-container matColumnDef="createdTime">
        <th mat-header-cell *matHeaderCellDef>Created On</th>
        <td mat-cell *matCellDef="let element">{{element.createdTime | date:'fullDate' }} </td>
      </ng-container>
      <ng-container matColumnDef="userId">
        <th mat-header-cell *matHeaderCellDef>Delete </th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button color="primary" (click)="doDelete(element.userId)">Delete</button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="professorDisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: professorDisplayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </mat-tab>
</mat-tab-group>
