<ng-container *ngIf="assignmentObj && courseData && allUsers">
  <div class="flex-type">
    <mat-list style="width:15%;">
      <mat-list-item>
        <h4>Course</h4>
      </mat-list-item>
      <ng-container *ngFor="let courseId of distinctCourses">
        <mat-list-item (click)="selectedCourse = courseId; getFirstStudent()"
          [ngClass]="{'selected-node' : selectedCourse == courseId}">
          {{getCourseName(courseId)}}</mat-list-item>
        <mat-divider></mat-divider>
      </ng-container>
    </mat-list>
    <mat-list *ngIf="selectedCourse">
      <mat-list-item>
        <h4>Students</h4>
      </mat-list-item>
      <ng-container *ngFor="let studentId of uniqueStudents(assignmentObj,selectedCourse)">
        <ng-container>
          <mat-list-item (click)="selectedStudent = studentId"
            [ngClass]="{'selected-node' : selectedStudent == studentId}">{{getStudentName(studentId)}}
          </mat-list-item>
          <mat-divider></mat-divider>
        </ng-container>
      </ng-container>
    </mat-list>
    <mat-list *ngIf="selectedCourse && selectedStudent">
      <mat-list-item>
        <h4>Assignment Details</h4>
      </mat-list-item>
      <mat-list-item>
        <h4 style="color:deeppink;">Overall Grade {{overallGrade()}}</h4>
      </mat-list-item>
      <ng-container *ngFor="let assgn of uniqueStudentAssignments(assignmentObj,selectedCourse,selectedStudent)">
        <mat-list-item [ngClass]="{'custom-list':true}">
          <div style="color:green;">Assignment {{(assgn.assignmentId.assignmentSeqId+1)}}</div>
          <div *ngIf="assgn.profAssignDocId && !assgn.studentAssignDocId" style="color:blue">
            Assignment sent, Student submission pending.
          </div>
          <div *ngIf="assgn.profAssignDocId">
            <a [href]="applicationUrl+'rest/user/downloadFile/'+assgn.profAssignDocId">My Assignment</a>
          </div>
          <div *ngIf="assgn.studentAssignDocId">
            <a [href]="applicationUrl+'rest/user/downloadFile/'+assgn.studentAssignDocId">Student Submission</a>
            <div *ngIf="assgn.grade">Grade : <b>{{assgn.grade}}</b></div>
            <mat-form-field *ngIf="!assgn.grade">
              <mat-select placeholder="Grade" [(ngModel)]="assgn.tempGrade">
                <mat-option *ngFor="let g of ['A++','A+','A+','B+','B','C','D']" [value]="g">
                  {{g}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <button *ngIf="!assgn.grade" mat-raised-button color="primary" (click)="updateGrade(assgn)">Submit</button>
          </div>
          <div *ngIf="!assgn.profAssignDocId">
            <form id="singleUploadForm" name="singleUploadForm" (ngSubmit)="onSubmit($event, assgn)">
              <input [id]="'singleFileUploadInput_'+assgn.assignmentId.studentId + '_' + assgn.assignmentId.courseId"
                type="file" name="file" class="file-input" required />
              <button type="submit" mat-raised-button color="primary">Submit</button>
            </form>
          </div>
          <mat-divider></mat-divider>
        </mat-list-item>

      </ng-container>
      <mat-divider></mat-divider>
      <mat-list-item>
        <button mat-raised-button color="primary" (click)="addNewAssignment()">Add New Assignment</button>
      </mat-list-item>
    </mat-list>
  </div>
</ng-container>
