.flex-type {
  display: flex;
  justify-content: flex-start;
}

.selected-node {
  color: blue;
  font-weight: bold;
}

::ng-deep .custom-list>div.mat-list-item-content {
  display: block !important;
  flex-direction: row !important;
}

::ng-deep .custom-list {
  height: 80px !important;
}
