<form [formGroup]="userForm">


  <section fxLayout="row wrap" fxLayoutAlign="center center">
    <mat-card fxFlex="500px" fxFlex.xs="100%">
      <mat-card-title>Login</mat-card-title>
      <mat-card-content>
        <mat-form-field>
          <input type="text" matInput placeholder="User Name" formControlName="userName" required="true">
        </mat-form-field>
        <br />
        <mat-form-field>
          <input type="password" matInput placeholder="Password" formControlName="password" required="true">
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions align="center">
        <button mat-raised-button color="primary" [disabled]="userForm.invalid" (click)="getLogin()">Login</button>
      </mat-card-actions>
    </mat-card>

  </section>


</form>
