<form [formGroup]="signUpForm" #formDirective="ngForm">
  <section fxLayout="row wrap" fxLayoutAlign="center center">
    <mat-card fxFlex="500px" fxFlex.xs="100%">
      <mat-card-title>Sign Up</mat-card-title>
      <mat-card-content>
        <mat-form-field>
          <input type="text" matInput placeholder="First Name" name="firstName" formControlName="firstName"
            required="true">
        </mat-form-field>
        <br />
        <mat-form-field>
          <input type="text" matInput placeholder="Last Name" name="lastName" formControlName="lastName"
            required="true">
        </mat-form-field>
        <br />
        <mat-form-field>
          <input type="text" matInput placeholder="Email" name="email" formControlName="email" required="true">
        </mat-form-field>
        <br />
        <mat-form-field>
          <input type="text" [matDatepicker]="picker" matInput placeholder="Date of Birth" name="dateOfBirth"
            formControlName="dateOfBirth">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <br />
        <mat-form-field>
          <input type="text" matInput placeholder="SSN" name="ssn" formControlName="ssn">
        </mat-form-field>
        <br />
        <mat-radio-group aria-label="Type" formControlName="userType">
          <mat-radio-button value="P">Professor</mat-radio-button>
          <mat-radio-button value="S">Student</mat-radio-button>
        </mat-radio-group>
      </mat-card-content>
      <mat-card-actions align="center">
        <button mat-raised-button color="primary" [disabled]="signUpForm.invalid" (click)="signUp()">Sign Up</button>
        <button mat-raised-button (click)="reset()">Reset</button>
      </mat-card-actions>
    </mat-card>

  </section>


</form>
