<ng-container *ngIf="assignmentObj && courseData && allUsers">
  <h4 style="color:deeppink;">Overall Grade {{overallGrade()}}</h4>
  <div class="flex-type">
    <mat-list style="width:15%;">
      <mat-list-item>
        <h4>Subject</h4>
      </mat-list-item>
      <ng-container *ngFor="let courseId of distinctCourses">
        <mat-list-item (click)="selectedCourse = courseId;" [ngClass]="{'selected-node' : selectedCourse == courseId}">
          {{getCourseName(courseId)}}</mat-list-item>
        <mat-divider></mat-divider>
      </ng-container>
    </mat-list>
    <mat-list *ngIf="selectedCourse && uniqueStudentAssignments(); let assignments">
      <mat-list-item>
        <h4>Assignment Details</h4>
      </mat-list-item>
      <mat-list-item>
        <h4>Professor Name {{getProfessorName(assignments[0])}}</h4>
      </mat-list-item>
      <mat-list-item>
        <h4 style="color:deeppink;">Subject Grade {{overallGrade(selectedCourse)}}</h4>
      </mat-list-item>
      <ng-container *ngFor="let assgn of assignments">
        <mat-list-item [ngClass]="{'custom-list':true}">
          <div style="color:green;">Assignment {{(assgn.assignmentId.assignmentSeqId+1)}}</div>
          <div *ngIf="assgn.grade">Grade : <b>{{assgn.grade}}</b></div>
          <div *ngIf="assgn.profAssignDocId">
            <a [href]="applicationUrl+'rest/user/downloadFile/'+assgn.profAssignDocId">Professor Assignment</a>
          </div>
          <div *ngIf="assgn.studentAssignDocId">
            <a [href]="applicationUrl+'rest/user/downloadFile/'+assgn.studentAssignDocId">My Submission</a>
          </div>
          <div *ngIf="assgn.profAssignDocId && !assgn.studentAssignDocId">
            <form id="singleUploadForm" name="singleUploadForm" (ngSubmit)="onSubmit($event, assgn)">
              <input [id]="'singleFileUploadInput_'+assgn.assignmentId.studentId + '_' + assgn.assignmentId.courseId"
                type="file" name="file" class="file-input" required />
              <button type="submit" mat-raised-button color="primary">Submit</button>
            </form>
          </div>
          <mat-divider></mat-divider>
        </mat-list-item>
      </ng-container>
    </mat-list>
  </div>
</ng-container>
