<h2 mat-dialog-title>{{data.title ? data.title : 'Error'}}</h2>
<mat-dialog-content>
  <div *ngIf="data.text">{{data.text}}</div>
  <ng-container *ngIf="data.texts">
    <mat-list>
      <mat-list-item *ngFor="let text of data.texts">
        {{text}}
      </mat-list-item>
    </mat-list>
  </ng-container>
  <br>
  <br>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close class="contBtn">OK</button>&nbsp;
</mat-dialog-actions>
